<% if @message.errors.any? %>
    <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>


<%= form_for @message, :url=>messages_path do |f| %>
	<%= f.label :category %>
	<%= f.collection_select(:category_id, Category.all, :id, :name) %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :content %>
	<%= f.text_area :content %>
	<%= f.submit %>
<% end %>