<ul>

<li><%= @message.category.name %></li>
<li><%= @message.title %></li>
<li><%= @message.content %></li>
<li><%= @message.created_at %></li>
</ul>

<h3>comments</h3>
<ul>
<% @comments.each do |c|%>	
	<li>
	<%= c.content %>
	<%=link_to "delete",message_comment_path(@message,c),:method=>"delete" if current_user.id==c.user_id %>
	</li>
<% end %>
</ul>


<%= form_for @comment, :url=>message_comments_path(@message) do |f| %>

	<%= f.label :content %>
	<%= f.text_area :content %>
	<%= f.submit %>
<% end %>
<%= paginate @comments %>

<%=link_to "home",messages_path %>